# Xcode
build/
DerivedData/
*.xcworkspace
xcuserdata/
.DS_Store

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/screenshots
fastlane/test_output

# Archives
*.xcarchive

# App data
*.plist
